body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

p {
    font-size: 16px;
}

ul {
    margin-left: 45%;
}

li {
    color: red;
}

img {
    border: 3px solid red;
    border-radius: 10px;
}

input, select {
    padding: 5px;
}

input[type=submit] {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
